body,
html {
  margin: 0;
  background-color: #222;
}

canvas {
  width: 640px;
  height: 480px;
  background: #000;
  display: block;
  margin: auto;
  touch-action: none;
}

@media (max-width: 639px) {
  canvas {
    width: 100vw;
  }
}

@media (max-height: 479px) {
  canvas {
    height: 100vh;
  }
}
